.landing-page {
    &-wrapper {
        height: 100vh;
        // background: var(--mainFrameColor);
        background: linear-gradient(135deg, var(--mainFrameColor), var(--darkTextColor));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px; 
    }
    &-content {
        height: 100%;
        width: 100%;
        background: var(--mainBackgroundColor);
        display: flex;
        flex-direction: column;
        padding: 40px;
        overflow: hidden;
        & h1 {
            text-transform: uppercase;
            font-size: 4rem;
        }
        &-upper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 60%;
        }
        &-lower {
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

#name-introduction {
    background: -webkit-linear-gradient(0deg, var(--darkTextColor), var(--brightTextColor) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

#developer-introduction {
    background: -webkit-linear-gradient(0deg, var(--darkTextColor) 0%, var(--brightTextColor) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#know-more {
    color: var(--darkTextColor);
}

.navigation-links {
    & a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.75rem;
            color: var(--brightTextColor);
            font-weight: 700;
            transition: all .2s;
            border-bottom: none;
            &:hover {
                color: var(--darkTextColor);
                border-bottom: 4px solid var(--darkTextColor);
            }
        }
}


@media screen and (max-width: 768px) { 
    .landing-page {
        &-wrapper {
            padding: 10px; 
        }
        &-content {
            padding: 20px;
            & h1 {
                font-size: 2rem;
            }
        }
    }

    .navigation-links {
        display: flex; 
        flex-direction: column;
        & a {
            font-size: 1.25rem;
            &:hover {
                color: var(--darkTextColor);
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .landing-page {
        &-wrapper {
            padding: 20px; 
        }
        &-content {
            padding: 20px;
            & h1 {
                font-size: 3rem;
            }
        }
    }

    .navigation-links {
        & a {
            font-size: 1.75rem;

        }
    }
}

// for iPhone SE
@media screen and (max-width: 340px) {
    .landing-page {
        &-wrapper {
            padding: 0px; 
        }
    }
}