.music-page {
    &-wrapper {
        height: 100vh;
        // background: var(--mainFrameColor);
        background: linear-gradient(135deg, var(--mainFrameColor), var(--darkTextColor));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px; 
    }
    &-content {
        height: 100%;
        width: 100%;
        background: var(--mainBackgroundColor);
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
}

.music-section-upper {
    width: 75%;
    margin-bottom: 4rem;
}

.music-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.music-title {
    text-transform: uppercase;
    font-size: 4rem;
    background: -webkit-linear-gradient(0deg, var(--darkTextColor), var(--mainFrameColor));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-subtitle {
    background: -webkit-linear-gradient(0deg, var(--darkTextColor), var(--mainFrameColor));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.music-paragraph {
    color: var(--darkTextColor);
    font-size: 1.2rem;
    line-height: 1.75rem;
    text-align: justify;
}

.music-projects-container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow: scroll;
}

.music-card {
    // padding: 10px;
    min-width: 320px;
    max-width: 500px;
    &-title {
        background: -webkit-linear-gradient(0deg, var(--darkTextColor), var(--mainFrameColor));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-bottom: .5rem;
        margin-bottom: 2rem;
        border-bottom: 5px solid var(--darkTextColor);
    }
    &-border-box {
        border: 5px solid var(--darkTextColor);
        padding-bottom: 10px;
        & a {
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px;
            color: var(--brightTextColor);
            text-decoration: none;
            &:hover {
                color: var(--darkTextColor);
            }
        }

    }
    &-image {
        width: 100%;
        height: 382px;
        max-width: 100%;
        border-bottom: 5px solid var(--darkTextColor);
    }
    &-text {
        padding: 10px;
    }
}