.contact-page {
    &-wrapper {
        height: 100vh;
        background: linear-gradient(135deg, var(--mainFrameColor), var(--darkTextColor));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px; 
    }
    &-content {
        height: 100%;
        width: 100%;
        background: var(--mainBackgroundColor);
        display: flex;
        flex-direction: column;
        padding: 40px;
        overflow: scroll;
    }
}

.contact-page-content::-webkit-scrollbar {
  display: none;
}

.contact-section-upper {
    width: 75%;
}

.contact-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.contact-title {
    text-transform: uppercase;
    font-size: 4rem;
    background: var(--titleBackgroundColor);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-details-section {
    width: 100%;
}

.contact-element {
    margin-bottom: 3rem;
    color: var(--darkTextColor);

    & h3 {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: .75rem;
        color: var(--darkTextColor);
        border-bottom: 4px solid var(--darkTextColor);
    }
    & p {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    & a {
        font-size: 1.5rem;
        color: var(--darkTextColor);
        text-decoration: none;
        display: inline;
        &:hover {
            color: var(--brightTextColor);
        }
    }
    &-title-box {
        display: flex;
    }
}

@media screen and (max-width: 768px) { 
    .contact-page {
        &-wrapper {
            padding: 10px; 
        }
        &-content {
            padding: 20px;
        }
    }

    .contact-section-upper {
        width: 100%;
    }

    .contact-title {
        font-size: 2.5rem;
    }

    .contact-element {
        margin-bottom: 3rem;
            & h3 {
                font-size: 1.5rem;
            }
            & p {
                font-size: 1.3rem;
            }
            & a {
                font-size: 1.3rem;
            }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .contact-page {
        &-wrapper {
            padding: 20px; 
        }
        &-content {
            padding: 30px;
        }
    }

    .contact-section-upper {
        width: 100%;
    }

    .contact-title {
        font-size: 3rem;
    }

    .contact-element {
        margin-bottom: 3rem;
            & h3 {
                font-size: 1.8rem;
            }
            & p {
                font-size: 1.5rem;
            }
            & a {
                font-size: 1.5rem;
            }
    }
}

// for iPhone SE
@media screen and (max-width: 340px) {
    .contact-page {
        &-wrapper {
            padding: 0px; 
        }
    }
}